/* Xóa mọi khoảng trắng thừa để web tràn màn hình */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Nền trắng sạch sẽ như video */
    overflow: hidden;         /* Không cho phép cuộn trang */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    touch-action: none;       /* Chặn các thao tác chạm gây giật lag trên điện thoại */
}

canvas {
    display: block;           /* Đảm bảo khung vẽ không bị lệch */
}
